/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    color: #343735;
}


button {
    border: none;
    background-color: white; 
    border: 2px solid #f8485e;
    color: #343735; 
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #f8485e;
    color: white;
  }
  


  